<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cst2335finalgroupproject">
    <!-- Permission for access to Internet -->
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SoccerMatchHighlights.Favorite_Game_List" />
        <activity android:name=".SoccerMatchHighlights.GameDetailActivity" />
        <activity android:name=".SoccerMatchHighlights.GameList" />
        <activity android:name=".geodata.GeoDataSource" />
        <activity android:name=".DeezerSongSearch.DeezerSongSearchActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".DeezerSongSearch.DeezerSongDetailActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Activity for Song Lyrics Search -->
        <activity android:name=".SongLyricsSearch.LyricSearchActivity" />
        <activity android:name=".SongLyricsSearch.LyricShowActivity" />
        <activity android:name=".SongLyricsSearch.LyricFavSongActivity" />
        <activity android:name=".SongLyricsSearch.LyricEmptyActivity" />
    </application>

</manifest>